.Rproj.user
experiment/
params_for_andrew_2024-12-05
old/
sean_test_data/
.Rproj.user/
*fit.RData
bayes_circle_area*.csv
fit.RDS
mu.RData
bayes_choice*.csv
p_pred.RData
slurm*
cmdstan-2.36.0/
cor_intervals_plot.RData